# DATA 612 Project 4 - Accuracy and Beyond

By Mike Silva

## Introduction

In [1]:
#import matplotlib.pyplot as plt
import csv
import os
#import numpy as np
import pandas as pd
import requests
import zipfile
#from scipy.sparse.linalg import svds
#from sklearn.metrics.pairwise import cosine_similarity
#import seaborn as sns

#%matplotlib inline

# STEP 1 - DOWNLOAD THE DATA SET
if not os.path.exists("BX-CSV-Dump.zip"):
    # We need to download it
    response = requests.get("http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip")
    if response.status_code == 200:
        with open("BX-CSV-Dump.zip", "wb") as f:
            f.write(response.content)
# STEP 2 - EXTRACT THE DATA SET
if not os.path.exists("BX-Book-Ratings.csv"):
    with zipfile.ZipFile("BX-CSV-Dump.zip","r") as z:
        z.extractall()
# STEP 3 - READ ING THE DATA
ratings = pd.read_csv("BX-Book-Ratings.csv", sep=";", encoding = "unicode_escape") 
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [2]:
users = pd.read_csv("BX-Users.csv", sep=";", encoding = "unicode_escape") 
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [3]:
# Had to do this the old fashioned way
items = []

with open("BX-Books.csv") as csvfile:
    reader = csv.DictReader(csvfile, delimiter=";")
    for row in reader:
        items.append(row)
        
items = pd.DataFrame(items)
items.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,NaN
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,NaN
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,NaN